/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit;
}

/* Marquee */
.marquee-text {
  overflow: clip;

}

.marquee-text-track {
  display: flex;
  padding-left: 4.8rem;
  gap: 4.8rem;
  width: max-content;
  animation: marquee-move-text var(--speed, 10s) linear infinite
    var(--direction, forwards);
}

.marquee-text p {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 999px;
  padding: 1rem 2.5rem;
}


@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
}

.fadeout-horizontal {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 5rem,
    black calc(100% - 5rem),
    transparent
  );
}

/* Transitions */
html {
    scroll-behavior: smooth;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .7s ease-out, transform .7s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Cursor */
html {
    cursor: url('wii-open-ccw.cur'), url('wii-open-ccw.png'), auto;
}

a, button, .clickable {
    cursor: url('wii-pointer-ccw.cur'), pointer;
}

body {
    cursor: none;
}

.custom-cursor {
    position: fixed;
    width: 32px;
    height: 32px;
    pointer-events: none;
    z-index: 9999;
    display: none;
    will-change: transform;
    transform: translate(-50%, -50%);
}

.custom-cursor-default {
    background-image: url('wii-open-ccw.cur');
    background-size: cover;
}

.custom-cursor-hover {
    background-size: cover;
}

/*Font Styles*/
@font-face {
    font-family: helveticareg;
    src: url(Helvetica\ Neue\ LT\ Pro\ 55\ Roman.ttf);
}

@font-face {
    font-family: helveticabold;
    src: url(Helvetica\ Neue\ LT\ Pro\ 75\ Bold.ttf);
}

h2 {
    font-family: helveticabold;
    font-size: 66px;
    line-height: 70px;
    letter-spacing: -1.5px;
}

h3 {
    font-family: helveticareg;
    font-size: 40px;
    letter-spacing: -1px;
}

h4 {
    font-family: helveticabold;
    font-size: 28px;
}

p {
    font-family: helveticareg;
}

.bold {
    font-weight: bold;
}

/* Parent Container Styles */
body {
    background-color: rgb(255, 255, 255);
    animation: fade-in 2s forwards;
}

/* Nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(16px);
    border-radius: 40px;
    z-index: 1000;
    margin: 0 auto;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
}

.logo {
    margin: 0;
    padding: 0;
    height: 50px;
}

.logo img {
    height: 100%;
}

.nav-items {
    display: flex;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    float: none;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0px 18px;
    text-decoration: none;
    font-family: helveticareg;
    font-size: 16px;
}

li a:hover {
    color: rgb(110, 110, 110);
}

/* Hero */
.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.hero-items-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 100px 0 10px;
    align-items: center;
    justify-content: center;
}

/* Intro */
.intro, .intro-model {
    flex: 0 1 auto;
    max-width: 40%;
}

.intro-model {
    flex: 1;
    min-height: 400px;
    position: relative;
    overflow: hidden;
    margin: 0 0 100px 0;
}

spline-viewer {
    width: 100%;
    height: 100%;
    min-height: 500px;
    position: absolute;
    top: 0;
    left: 0;
}

.intro {
    padding: 0 0 0 80px;
}

.intro h2 {
    padding-left: 10px;
}

.intro h3 {
    margin: 10px 0 0 10px;
}

/* Projects */
.project-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.project-container {
    background-color: rgb(255, 255, 255);
    margin: -80px 20px 0;
    padding: 150px 0 50px;
}

.project {
    margin: 50px 20px 180px 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.project-description {
    flex: 1;
}

.project-tags {
    margin: 5px 0 12px;
    display: inline-flex;
}

.project-tag {
    font-family: helveticareg;
    font-size: 11px;
    padding: 5px 8px;
    margin-right: 10px;
    text-align: center;
    border: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 40px;
    border-width: 1px;
}

.project img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    flex: 1.5;
    transition: transform 0.3s ease;
}

.project img:hover, .project-video embed:hover {
    transform: translateY(-10px) scale(1.02);
}

.project-video embed {
    width: 100%;
    min-height: 350px;
    min-width: 600px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.project-container h3 {
    margin: 0 0 50px 70px;
}

.project h4 {
    line-height: 42px;
    font-size: 42px;
}

.project p {
    margin-top: 10px;
    font-size: 22px;
    letter-spacing: -.5px;
}

/* About */
.about-container {
    background-color: rgb(255, 255, 255);
    margin: 0px 70px 0px;
    padding: 150px 40px 50px;
}

.about-container img {
    width: 100%;
    height: 580px;
    object-fit: cover;
    border-radius: 40px;
    margin: 10px 0;
    
}

.about-container h4 {
    margin-top: 5px;
    font-size: 25px;
}

.about-container p {
    font-size: 22px;
    margin: 0 200px 12px 0;
}

/* Contact */
.contact-container {
    background-color: rgb(255, 255, 255);
    margin: 100px 110px 0px;
    padding-top: 100px;
    padding-bottom: 180px;
}

.contact-container h3 {
    margin-bottom: 20px;
}

.contact-container h4 {
    font-size: 40px;
    margin-bottom: 40px;

}

.contact-container p {
    font-size: 28px;
}

p.contact a {
    text-decoration: none;
    font-family: helveticabold;
    color: rgb(0, 0, 0);
    opacity: 50%;
}

p.contact a:hover {
    text-decoration: underline;
    opacity: 100%
}

/* Footer */
footer {
    padding: 20px;
    backdrop-filter: blur(2px);
}

footer p {
    font-size: small;
    margin-bottom: 18px;
    opacity: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* Project Page */

.project-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.project-article img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.project-article h2 {
    font-size: 50px;
    margin: 0 auto 100px;
}

.project-section {
    margin: 0 200px 30px;
}

.project-section img {
    margin: 50px 0;
}

.project-section h4, p {
    margin-bottom: 20px;
}

.project-section p {
    line-height: 22px;
}

.project-gallery {
    background-color: #F5F5F5;
    padding: 20px 100px;
    margin: 50px 0;
    display: grid;
}

.gallery-widepic {
    grid-column: 1 / 3;
}

.project-gallery-2 {
    background-color: #F5F5F5;
    padding: 20px 100px;
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.project-gallery-2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-gallery-2 img:nth-child(1),
.project-gallery-2 img:nth-child(2) {
    grid-column: 1;
}

.project-gallery-2 img:nth-child(3) {
    grid-column: 2;
    grid-row: 1 / span 2;
    height: 100%;
}

.figmawrapper {
    width: 800px;
    height: 450px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.figmawrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 111%;
}

/* General adjustments for tablets and smaller */
@media (max-width: 1024px) {
    
    /* Projects */

    /* About */
    .about-container p {
        margin-right: 100px;
    }

    /* Project Page */
    .project-section {
        margin: 0 100px 30px;
    }
}

/* Tablet */
@media (max-width: 768px) {

    /* Nav */
    .nav {
        width: 80%;
    }

    /* Hero */
    .hero-items-container {
        flex-direction: column;
        margin: 150px 0 50px;
    }
    
    .intro {
        max-width: 70%;
        font-size: 30px;
    }

    .intro-model {
        max-width: 90%;
        width: 90%;
        min-height: 240px;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 80px;
        line-height: 80px;
    }
    
    spline-viewer {
        min-height: 300px;
    }

    /* Projects */
    
    /* About */
    .about-container {
        margin-left: 30px;
        margin-right: 30px;
    }

    .about-container p {
        margin-right: 0;
        font-size: 18px;
    }
    
    /* Contact */
    .contact-container {
        margin-left: 50px;
        margin-right: 50px;
    }

    /* Project Page */
    .project-article h2 {
        font-size: 40px;
        margin-bottom: 50px;
    }
    
    .project-section {
        margin: 0 50px 30px;
    }
    
    .project-gallery,
    .project-gallery-2 {
        padding: 20px 50px;
    }
    
    .figmawrapper {
        width: 100%;
        height: 350px;
    }
}

/* Mobile */
@media (max-width: 540px) {

    /* Text Styles */
    h2 {
        font-size: 60px;
        line-height: 60px;
    }
    
    h3 {
        font-size: 30px;
        letter-spacing: -1px;
    }
    
    h4 {
        font-size: 24px;
    }
    
    /* Nav */
    .nav {
        width: 80%;
        padding: 10px 15px;
    }
    
    .logo {
        height: 40px;
    }
    
    li a {
        padding: 0 10px;
        font-size: 14px;
    }

    /* Hero */
    .hero-items-container {
        margin: 0;
    }
    
    .intro {
        max-width: 80%;
        padding: 0 20px !important;
        text-align: center;
        margin: 0 auto;
    }

    .intro h2 {
        font-size: 50px;
        line-height: 50px;
    }
    
    .intro h2, 
    .intro h3 {
        text-align: center;
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
    
    .intro h3 {
        margin-top: 20px !important;
        font-size: 20px;
    }
    
    .intro-model {
        display: none;
    }
    
    /* Projects */

    .project-container {
        padding: 60px 15px 30px;
        margin: 0;
    }

    .project {
        flex-direction: column; 
        margin: 30px 0 80px;
        gap: 20px; 
    }

    .project-description {
        order: 1;
        text-align: center;
    }

    .project img,
    .project-video {
        order: 2;
        width: 100%;
    }

    .project-video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        border-radius: 20px;
    }

    .project-video embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-width: unset;
        min-height: 200px;
        border-radius: 20px;
    }

    .project img,
    .project-video embed {
        min-width: unset;
        width: 100%;
        height: auto;
    }

    .project-description {
        text-align: center;
    }

    .project h4 {
        font-size: 22px;
        line-height: 28px;
    }

    .project p {
        font-size: 16px;
        line-height: 22px;
    }

    .project-tags {
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-tag {
        margin-bottom: 6px;
    }

    .project-container h3 {
        margin: 0 auto;
        text-align: center;
    }

    /* About */
    .about-container {
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 20px;
        text-align: center;
    }

    .about-container img {
        width: 100%;
        height: 100%;
    }

    .about-container p {
        font-size: 16px;
    }

    .about-container h4 {
        font-size: 16px;
        margin-top: 18px;
    }
    
    /* Contact */
    .contact-container {
        text-align: center;
        margin-top: -40px;
    }
    
    .contact-container h4 {
        font-size: 30px;
    }
    
    .contact-container p {
        font-size: 18px;
        margin-bottom: 8px;
    }
    
    /* Footer */
    footer p {
        font-size: 12px;
    }
    
    .left, 
    .right {
        float: none;
        display: block;
        text-align: center;
    }

    /* Project Page */
    .project-article {
        margin: 80px 0 50px;
    }
    
    .project-article h2 {
        font-size: 30px;
        margin-bottom: 30px;
        text-align: center;
        padding: 0 20px;
        line-height: 30px;
    }
    
    .project-section {
        margin: 0 20px 20px;
    }
    
    .project-section h4 {
        font-size: 20px;
    }
    
    .project-section p {
        font-size: 16px;
        line-height: 20px;
    }
    
    .project-gallery,
    .project-gallery-2 {
        padding: 15px;
        margin: 30px 0;
        grid-gap: 10px;
    }
    
    .figmawrapper {
        height: 250px;
        margin: 20px 0;
    }

    .figmawrapper iframe {
        height: 120%;
    }
    
    .project-gallery-2 {
        grid-template-columns: 1fr;
    }
    
    .project-gallery-2 img:nth-child(3) {
        grid-column: 1;
        grid-row: auto;
    }
}






